@using TuristickaAgencija.EntityModels;
@model TuristickaAgencija.ViewModel.KlijentUrediDodajVM
@{
    if (Model.KlijentId == 0)
    {
        ViewData["Title"] = "Dodavanje korisnika";
    }
    else
    {
        ViewData["Title"] = "Uređivanje korisnika";
    }
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary()
    </div>
}

<h3>@ViewData["Title"]</h3>
<hr />
<form asp-controller="Klijent" asp-action="Snimi">
    <input asp-for="KlijentId" type="hidden" />
    <div class="form-group">
        <label asp-for="Ime">Ime</label>
        <input asp-for="Ime" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Prezime">Prezime</label>
        <input asp-for="Prezime" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="DatumRodjenja">Datum rodjenja</label>
        <input asp-for="DatumRodjenja" type="date" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Kontakt">Kontakt</label>
        <input asp-for="Kontakt" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="JMBG">JMBG</label>
        <input asp-for="JMBG" type="number" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="GradId">Grad</label>
        <select asp-for="GradId" class="form-control" asp-items="@Model.Grad"></select>
    </div>

    <button type="submit" class="btn btn-primary">Spremi</button>
</form>