@model TuristickaAgencija.ViewModel.LoginVM
@{
    ViewData["Title"] = "Login";
    string error_poruka = (string)TempData["error_poruka"];
    Layout = "_LayoutAnonim";
   
}
<div class="slika">

</div>

<div class="slika2">
    <img src="~/Theme/dist/img/travel_vivendi.png" alt=" Logo" class="brand-image img-circle elevation-0" />
</div>
<h1>Vivendi Travel</h1>

<div class="col-md-4 col-md-offset-4" style="padding-bottom:20px;">

    <div id="zaFormu">
        <form asp-action="Login" id="form">

            <div class="form-group">
                <label>Korisničko ime: </label>
                <div>
                    <input id="KorisnickoIme" name="KorisnickoIme" class="form-control" autocomplete="off" />
                    <span asp-validation-for="KorisnickoIme" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label>Lozinka: </label>
                <div>
                    <input id="Lozinka" name="Lozinka" class="form-control" type="password" autocomplete="off" />
                    <span asp-validation-for="Lozinka" class="text-danger"></span>
                </div>
            </div>


            <input type="submit" class="form-control btn btn-primary" value="Login" />
            <br /><br />
            <input asp-for="ZapamtiLozinku" />   Zapamti password
            <br />
            <div class="dugme_registracija">

                @Html.ActionLink("Registriraj se", "Registracija")
            </div>


        </form>
    </div>

    @if (error_poruka != null)
    {
        <br />
        <div class="alert alert-danger">
            @error_poruka
        </div>
    }
</div>
<style>
    #form {
        position: fixed;
        width: 36%;
        top: 20%;
        right: 65px;
    }

    #registracija {
        color: white;
    }

    a {
        color: white;
    }

    #KorisnickoIme {
        border-radius: 8px;
    }

    #Lozinka {
        border-radius: 8px;
    }

    .dugme_registracija {
        margin-top: 45px;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
        border-radius: 8px;
    }

    a:hover {
        text-decoration: none;
        color: #fff;
        opacity: 0.7;
    }

    .slika {
        background-image: url(https://www.tz-primosten.hr/wp-content/uploads/2014/09/turisticke-agencije-1-768x432.jpg);
        /* background-color: red; */
        position: fixed;
        width: 43%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .slika2 img {
        position: fixed;
        width: 43%;
        height: 15%;
        top: 85%;
        opacity: 0.9;
        background-size: cover;
    }

    .alert-danger {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        position: fixed;
        width: 32%;
        top: 80%;
        right: 9%;
    }

    #zaFormu {
        /*background-color:red;*/
    }

    h1 {
        position: fixed;
        font-size: 2.5rem;
        left: 59%;
        right: 19%;
        top: 4%;
    }
</style>
