@model TuristickaAgencija.ViewModel.RegistracijaVM
@{
    ViewData["Title"] = "Registracija";
    string error_poruka = (string)TempData["error_poruka"];
    Layout = "_LayoutAnonim";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
          crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">


    <title>Registracija</title>

</head>
<body>
    <div class="contact-section">
       

        <div class="container contact-container">
            <h2 class="naslov">
                Registriraj se
            </h2>
            <p class="naslov">
                Brzo je i jednostavno.
            </p>
            <div class="container contact-container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="contact-details">
                            <h4>Poruka dana</h4>
                            <h5>
                                Svijet je poput knjige. Oni koji ne putuju su pročitali samo jednu stranicu. – Sv. Augustin

                            </h5>
                            <h4>Telefon</h4>
                            <p>Tel: +387 33 263 330</p>
                            <p>Fax: +387 33 263 331</p>


                            <h4>Email contact</h4>
                            <p>Email: mirnes.turkovic94@gmail.com</p>
                            
                        </div>
                    </div>
                    <div class="col-md-7">
                        <form action="SnimiRegistraciju" method="post">


                            <div class="row">
                                <div class="col-md-6">
                                    <label>Ime: </label>
                                    <div>
                                        <input asp-for="Ime" class="form-control" />
                                        <span asp-validation-for="Ime" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Prezime: </label>
                                    <div>
                                        <input asp-for="Prezime" class="form-control" />
                                        <span asp-validation-for="Prezime" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Datum rodjenja: </label>
                                    <div>
                                        <input type="text" asp-for="DatumRodjenja" class="form-control datum datepicker" />
                                        <span asp-validation-for="DatumRodjenja" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="col-md-6">


                                    <label>Email: </label>
                                    <div>
                                        <input asp-for="Kontakt" class="form-control" placeholder="xxxxx@email.xxx" />
                                        <span asp-validation-for="Kontakt" class="text-danger"></span>

                                    </div>



                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>JMBG: </label>
                                    <div>
                                        <input asp-for="JMBG" class="form-control" />
                                        <span asp-validation-for="JMBG" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Odaberite grad</label>
                                    <div>
                                        <select asp-for="GradID" asp-items="@Model.gradovi"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Korisničko ime : </label>
                                    <div>
                                        <input id="korisnicko" name="korisnicko" class="form-control" autocomplete="off" />
                                        <span asp-validation-for="korisnicko" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="col-md-6">


                                    <label>Lozinka: </label>
                                    <div>
                                        <input id="korisnikovalozinka" name="korisnikovalozinka" class="form-control" autocomplete="off" />
                                        <span asp-validation-for="korisnikovalozinka" class="text-danger"></span>
                                    </div>



                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    @Html.AntiForgeryToken()
                                    <input type="submit" class="form-control btn btn-primary" value="Registriraj se" /> @Html.ActionLink("Imate račun?", "Index")
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<style>

*
{
    margin: 0;
    padding: 0;
}
a{
   
    text-decoration: none;
    background-color: transparent;
    color: #fff;
}

body
{
    background-image:url('~/Theme/dist/img/about.jpg');
}
.contact-section
{
  padding-top: 100px;
  padding-bottom: 100px;
  color: #6a6f8c;
   background-image:url('../wwwroot/Theme/dist/img/about.jpg/');

  background-size: cover;
  
  
}
select#GradID {
    height: 41px;
    width: 100%;
}
.contact-section h2,.contact-section p
{
    text-align: center;
}
.contact-section form
{
    background-color: rgba(0,0,0,0.5);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 50px;
}
.contact-section form textarea,.contact-section form input,.contact-section form button
{
    width: 100%;
    border: 0;
    outline: none;
    margin-bottom: 15px;
    height: 40px;
}
.contact-section .contact-details
{
  text-align: left;
}
.contact-section .contact-details p
{
  text-align: left;
}
.contact-section form textarea
{
    height: 80px;
}
.contact-section form button
{
    background-color: blue;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    width: 250px;
}
.contact-section form label
{
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(255,255,255,0.7)
}
.container .contact-container
{
    margin-top: 50px;
}
.contact-section .contact-details h3
{
    margin-bottom: 30px;
}

.naslov
{
   margin-left:43%;
}
.contact-section .contact-details h4
{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px dotted #7c7586;
    padding-bottom: 10px;
    
}
.contact-section .contact-details h4::before
{
    content: "";
display: inline-block;
background-color: #315df7;
width: 10px;
height: 10px;
margin-right: 10px;
position: relative;
top: -2px;
}
</style>
<script>
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd--mm-yyyy'//check change

        });

        setTimeout(() => {
            $("#korisnicko").val();
            $("#korisnikovalozinka").val();
        }, 1500);
    })</script>


