@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutUser";

}


<div>
    <h2>Vivendi Travel </h2><h4>TURISTIČKA AGENCIJA</h4><br /><br />
    <h5>
        Dragi naši,<br /><br />

        Agencija Vivendi Travel profilirala se kao vodeća agencija na tržištu BiH. Radimo ono što najbolje znamo, a to su putovanja.
        Vivendi Travel  je  postala sinonim za nezaboravna putovanja, ekskurzije, fantastične provode ne samo za mlade ljude, već za sve one koji su putovali sa nama i koji nam svake godine ukazuju sve veće povjerenje.
        <br /><br />
        Sigurnost i pouzdanost, najpovoljniji odnos cijene i kvaliteta, iskustvo i poslovna strategija u osmišljavanju i realizaciji brojnih putovanja, visokoobrazovani kadrovi i poslovnice, razgranata mreža subagenata i brojni ugledni partneri širom svijeta, glavne su prednosti oveagencije. Ono što Vivendi Travel pokušava ostvariti svojim poslovanjem je svakako ugled, koji predstavlja strateški kapital, što je ujedno i baza za planiranje i pripremu budućih poslovnih poduhvata i odgovor na nove izazove  koje nosi budućnost.
        <br /><br />
        Ono što nas krasi je inovativni pristup u kreiranju turističke ponude i visoki standardi poslovanja, koji su nam omogućili lidersko pozicioniranje u konkurenciji ostalih agencija na našem području.
        <br /><br />
        Ono po čemu smo prepoznatljivi je vrhunska usluga i sve brojnija klijentala koja svoje zadovoljstvo našom uslugom pokuzaju dodatnim zahtjevima za novim izazovima i aranžmanima. Mi na to uzvraćamo dodatnim širenjem naše ponude.
        <br /><br />
        Međutim, svoje poslovanje nismo ograničili samo na putovanja za mlade, potrebe klijenata su različite a samim tim i naša ponuda je raznovrsna i uključuje sve svjetski poznate destinacije, najatraktivnija ljetovališta i ski-centre, evropske gradove i metropole svijeta.
        <br /><br />
        VAŠ VIVENDI TRAVEL TEAM
    </h5>
</div>