@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    Layout = "_LayoutUser";
}

<div>
    <h3><b>Telefon:</b></h3>
    <h4>Pozovite nas:</h4>
    <h5>+387 33 263 330<br />+387 33 263 331</h5>
    <h4>Pošaljite poruku:</h4>
    <h5><a style="color:black" href="/SmsGateway/PosaljiPoruku">+387 60 352 39 28</a><br /></h5>

    <h3><b>Email:</b></h3>
    <h4>Pošaljite email:</h4>
    <h5><a style="color:black" href="/Email/Index">mirnes.turkovic94@gmail.com</a><br /></h5>

    <h3><b>Lokacija:</b></h3>
    <h5>Marsala Tita 9 <br /> 71000 Sarajevo <br /> Bosna i  Hercegovina</h5><br />
</div>
<div>
    <img src="~/Theme/dist/img/contactus.png" alt="Contact" width="1080" height="120" />
</div>