@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutUser";

}


<div>
    <h2>Vivendi Travel </h2><h4>TURISTIČKA AGENCIJA</h4><br /><br />
    <h3>Uslovi putovanja</h3>
    <h4><i>Odredbe ovih Opštih uslova čine sastavni dio ugovora o putovanju između putnika i TA Vivendi Travel d.o.o.</i></h4>
    <br /><br />
    <h5>
        <b>OPŠTI USLOVI PUTOVANJA</b>

        Odredbe ovih Opštih uslova čine sastavni dio ugovora o putovanju između putnika i TA “VIVENDI TRAVEL” d.o.o.  ul. Maršala Tita 9.,
        SARAJEVO  kao organizatora i obavezujuće su za obje ugovorne strane, osim odredbi definisanih posebnim pisanim ugovorom ili programom putovanja.
    </h5>
    <h5>
        <b>1. PRIJAVE, UPLATE I UGOVOR:</b>
        Putnik se za putovanje može prijaviti u svim poslovnicama, odnosno izdvojenim posebnim prostorima organizatora putovanja TA “VIVENDI TRAVEL” d.o.o.
        iz Sarajeva (dalje: organizator) i agencijama  sa kojima ima zaključen Ugovor o posredovanju (dalje: posrednik).
        Kada posrednik u programu putovanja organizatora i ugovoru - potvrdi o putovanju ne naznači svojstvo posrednika odgovara za izvršenje programa putovanja kao organizator. Prijava postaje punovažna kada je potvrđena zaključenjem pisanog ugovora - potvrde o putovanju sa organizatorom,
        koja može biti i u elektronskoj formi, shodno Zakonu o elektronskom potpisu (dalje: ugovor) i uplatom akontacije u visini od 30% od cijene aranžmana.
        Ostatak ugovorene cijene, ako drugačije nije ugovoreno, plaća se 15 dana prije početka putovanja.
        Ukoliko putnik, u roku ne izvrši uplatu u cijelosti, smatra se da je putovanje otkazao, u skladu sa tačkom 10. ovih uslova.
        Potpisivanjem ugovora o putovanju od strane jednog putnika smatra se da su svi ostali putnici iz ugovora prihvatili ove opšte
        uslove putovanja i da se uplata akontacije vodi kao uplata za sve putnike (a ne samo za jednog određenog putnika).
        Ukoliko dođe do otkaza aranžmana, otkazne odredbe važe za sve navedene putnike u ugovoru.
    </h5>
    <h5>
        <b>2. OBAVEZA I PRAVA ORGANIZATORA su: </b>
        Da sa putnikom zaključi ugovor o putovanju i putniku uruči pisani program putovanja
        (u daljem tesktu: program putovanja) i opšte uslove putovanja (dalje: opšti uslovi) i da ga informiše o ponudi
        mogućih vidova putnog osiguranja (u daljem tekstu: paket putnog osiguranja); Isplati srazmjernu realnu razliku
        između ugovorene cijene i cijene putovanja snižene srazmerno neizvršenju ili nepotpunom izvršenju usluga
        (u daljem tekstu: sniženje cene) povodom blagovreme i osnovane pisane reklamacije - prigovora putnika u skladu sa
        zakonom, Opštim uslovima UTA i ovim opštim uslovima, osim ako su propusti u izvršenju programa putovanja nastali: krivicom putnika ili se pripisuju trećem licu koje nije bilo ugovoreni neposredni pružalac usluga  u realizaciji programa putovanja,  djelovanjem više sile ili nepredviđenih događaja na koje organizator nema uticaja i čije su posljedice neizbježne uprkos primjeni dužne pažnje ili nekim drugim događajima koje organizator nije mogao predvidjeti i prevladati; Saglasno dobrim poslovnim običajima u ovoj oblasti se stara o pravima i interesima putnika, da prije polaska na put dostavi putniku ime, adresu i broj telefona lokalnog predstavnika, odnosno lokalne agencije partnera organizatora.
    </h5>
    <h5>
        <b>3. OBAVEZA I PRAVA PUTNIKA je</b>: Da se detaljno upozna sa uručenim programom i opštim uslovima putovanja, da se
        informiše  o fakultativnom zaključenju ugovora o osiguranju kojim se pokrivaju troškovi otkazivanja od strane putnika
        ili troškovi pomoći, uključujući repatrijaciju u svoju zemlju, u slučaju nesreće ili bolesti, i da zaključenjem
        ugovora (u svoje ime i u ime putnika za čije potrebe zaključuje ugovor) potvrđuje da ih u cijelosti prihvata;
        Uplati ugovorenu cijenu pod uslovima, rokovima i na način predviđen ugovorom, opštim uslovima i programom putovanja;
        Organizatoru blagovremeno dostavi tačne i kompletne podatke i dokumenta potrebna za organizovanje putovanja i garantuje da on, njegove isprave, prtljag i dr., ispunjavaju uslove određene propisima naše, tranzitne i odredišne zemlje (granični, carinski, sanitarni, monetarni i drugi propisi ) i po sopstvenom izboru obezbjedi odgovarajuće polise putnog osiguranja; Isplati štetu koju pričini neposrednim pružaocima usluga,  ili trećim licima, kršenjem zakonskih i drugih propisa i ovih opštih uslova; Odredi drugo lice da umjesto njega putuje (uz uslov da to lice ispunjava uslove predviđene za određeno putovanje) i organizatoru nadoknadi stvarne troškove prouzrokovane zamjenom putnika i da solidarno snosi neplaćeni dio cijene aranžmana, odnosno programa putovanja; Opravdani prigovor bez odlaganja na licu mjesta saopšti organizatoru i neposrednom pružaocu usluga; Prije zaključenja ugovora se informiše preko sajta Ministarstva vanjskih poslova BiH ili na drugi način o zemljama tzv. visokog ili umjerenog rizika; Da se najkasnije 24 sata, ali ne ranije od 48 sati, informiše kod vodiča-predstavnika o tačnom vremenu povratka.

    </h5>
    <h5>
        <b>4. KATEGORIZACIJA I OPIS USLUGA:</b> Smještajni objekti i smještajne jedinice,  prevozna sredstva i dr. usluge, opisani su prema službenoj kategorizaciji domicilne zemlje u vrijeme objavljivanja programa putovanja, različiti su i nisu uporedivi po destinacijama, pa ni u okviru iste destinacije. Ishrana, konfor i kvalitet usluge zavise prevashodno od cijene aranžmana, izabrane destinacije i kategorizacije određene po lokalnim-nacionalnim propisima i van nadzora i uticaja su organizatora. Sve usluge navedene u programu putovanja podrazumjevaju standardne usluge (prosječne standarde kvaliteta, uobičajene i specifične za određene destinacije i mjesta), te ako putnik nije dodatno ugovorio posebne usluge, nema osnova za podnošenje prigovora-reklamacije organizatoru.

        Usmene informacije: Usmene informacije koje je putnik dobio na prodajnim mjestima za organizatora nisu valjanije od informacija navedenih u ponudi, odnosno programu putovanja.
    </h5>
    <h5>
        <b>5. PUTNE ISPRAVE, ZDRAVSTVENI I ZAKONSKI PROPISI:</b> Svi uslovi objavljeni u programu putovanja odnose se isključivo na državljane sa putnom ispravom BiH. Organzator ne snosi odgovornost i nije dužan upoznati putnike, državljane drugih država, na uslove (vizne, carinske, zdravstvene i dr.) koji važe za odredišnu ili tranzitnu zemlju, već je obaveza stranog državljanina da se informiše kod nadležnog konzulata, i da putnik sam potrebne uslove i isprave obezbjedi blagovremeno i uredno. Putnik za putovanje u inostranstvo mora imati važeću putnu ispravu sa rokom važenja još najmanje 6 mjeseci od dana završetka putovanja, i u roku dostaviti organizatoru ispravne i kompletne potrebne podatke i dokumenta za dobijanje vize, ukoliko istu pribavlja organizator. Službenik   agencije organizatora, niti posrednika, nije ovlašćen  da utvrđuje   validnost   putnih   i   drugih   isprava   i   dokumenata. Kada organizator posreduje u postupku podnošenja dokumentacije, isti  ne garantuje dobijanje vize, niti dobijanje vize u roku, i ne snosi nikakvu odgovornost za neispravnost putnog i drugih dokumenta, ili ako pogranične vlasti ili imigracione službe ne odobre ulazak, tranzit ili dalji boravak putniku. Ukoliko putnik za vreme putovanja izgubi putne isprave ili mu budu ukradene, dužan je o svom trošku blagovremeno obezbjediti nove i snositi sve eventualne štetne posljedice po tom osnovu. U slučaju da zbog gubitka ili krađe putnih isprava putnik ne može nastaviti putovanje, ne pripada mu naknada uplaćenog aranžmana.

        Putnik je dužan ugovoriti posebne usluge vezano za njegovo zdravstveno stanje, kao npr. specifična ishrana, karakteristike smještaja  itd.,  zbog hronične bolesti, alergije, invaliditeta i dr., jer u protivnom organizator ne preuzima nikakvu posebnu obavezu, odgovornost ni štetu po tom osnovu. Za putovanja u zemlje, u kojima važe posebna pravila koja obuhvataju obaveznu vakcinaciju ili nabavku određenih dokumenata, obaveza je putnika da obavi potrebne vakcinacije i obezbjedi odgovarajuće potvrde o tome, i da u slučaju eventualnih posljedica sam snosi odgovornost za štetu.

        Putnik je dužan striktno poštovati carinske, devizne i dr. propise FBiH, tranzitnih i zemalja u kojima boravi, te u slučaju nemogućnosti nastavka putovanja, odnosno, boravka i svega drugog, sve posledice i troškove snosi sam putnik.

        Ukoliko se putovanje ne može realizovati zbog propusta putnika, vezano za odredbe ove tačke, primenjuju se odredbe tačke 10. ovih uslova.
    </h5>
    <h5>
        <b>6. PRTLJAG:</b> Prevoz prtljaga do određene težine, koju određuje avio prevoznik, je besplatan. Višak prtljaga putnik plaća prema važećim cijenama avio-prevoznika. Transport specijalnog prtljaga, od aerodroma do hotela i nazad, je isključivo stvar samih turista  Travel d.o.o.ne preuzima nikakvu odgovornost za izgubljenu ili oštećenu prtljagu. Izgubljena ili oštećena prtljaga prijavljuje se hotelu ili prijevozniku. Kod prijevoza avionom, za izgubljenu prtljagu odgovara isključivo avio prijevoznik na osnovi propisa važećih u međunarodnom putničkom prometu. U slučaju izgubljene ili oštećene prtljage putnik ispunjava formular PIR avio kompanije, dok jedan primjerak zadrži za sebe. Na osnovi tog formulara avio kompanija putniku vraća izgubljeni komad prtljage, odnosno isplati štetu prema propisima, valjanim u međunarodnom avio prometu. Preporučuje se, da se zlato, vrijedne stvari, tehnički instrumenti i medikamenti, nose isključivo u ručnom prtljagu.   Kod prevoza autobusom putnik može ponijeti 2 komada prtljaga. Djeca do dvije godine nemaju pravo na besplatan prtljag. Putnik je dužan voditi brigu o svojim stvarima unijetim u prevozno sredstvo, o davanju, odnosno preuzimanju prtljaga predatog prevozniku, odnosno unijetom u smještajni objekat. Sva svoja prava po navedenom, putnik ostvaruje direktno od prevoznika, pružaoca usluge smeštaja ili osiguranja, a prema važećim međunarodnim i domaćim propisima.

        Na svim aerodromima se primjenjuju posebna bezbjedonosna pravila u vezi sa ručnim prtljagom, te preporučujemo za više informacija da se putnik informiše na aerodromu u Sarajevu, na telefon 033/289-100 ili web sajt: http://www.sarajevo-airport.ba/. Osim kod namjere i grube nepažnje, organizator nema nikakvu odgovornost za predmete, koji se obično ne nose sa sobom, izuzev kada je preuzeo predmete na čuvanje. Zato se putnicima ne  preporučuje, da na putovanja nose sa sobom vrijedne predmete, a u suprotnom, putniku se preporučuje da iste preda uredno na čuvanje
    </h5>
    <h5>
        <b>7. OSIGURANJE:</b> Organizator je dužan informisati putnika o mogućnosti obezbjeđenja polisa zdravstvenog osiguranja tokom boravka u inostranstvu, kao i paketa putnog osiguranja (osiguranje prtljaga, osiguranje od posljedica nesretnog slučaja, osiguranje od otkaza putovanja i dr.) za putovanja u inostranstvu, i u BiH. Preporučuje se putniku da obezbjedi polise za navedeni paket putnog osiguranja. Potpisivanjem ugovora putnik potvrđuje da mu je ponuđen paket putnog osiguranja.

        Paket putnog osiguranja ne pokriva obavezno zdravstveno osiguranje, koje putnik posebno plaća, uz zahtev za izdavanje ulazne vize.
    </h5>
    <h5>
        <b>8. ZAŠTITA LIČNIH PODATAKA PUTNIKA:</b> Lični podaci putnika, koje isti daje dobrovoljno, predstavljaju poslovnu tajnu
        organizatora. Putnik je saglasan da lične podatke organizator može koristiti za realizaciju ugovorenog programa putovanja, pri čemu se ne mogu saopštavati adrese, mjesto, vrijeme i cijena putovanja i imena saputnika drugim licima, osim licima određenim posebnim propisima.
    </h5>
    
    <h5>
        <b>9. OBAVEZNOST PRIMJENE:</b> Organizator može programom putovanja ili posebnim opštim uslovima predvidjeti povoljnije          odredbe za putnika u odnosu na ove uslove, a u izuzetnim slučajevima (povodom održavanja sportskih, kongresnih i sličnih          međunarodnih manifestacija i posebnim vidovima turizma – đački, lov i ribolov, ekstremni sportovi i dr.) predvidjeti i nepovoljnije uslove za putnika, u pogledu rokova i visine naknade kod odustajanja putnika od putovanja, iznosa i rokova plaćanja, i sl.         U slučaju pokretanja sudskog spora, nadležan je  Sud u Sarajevu.
    </h5>

</div>